@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

body {
  background-color: #f9fafb;
  /* Light gray bg */
  font-family: system-ui, sans-serif;
}